body{
  background-color: #B2C8DF;
  text-align: center;
}
.bold{
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}
.notbold{
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  margin-top: 20px;
}
.white-background{
  background-color: white;
  display: inline-block;
  padding:0;
  width: 21%;
  margin-top: 100px;
  border-radius: 15px;
  padding-bottom: 30px;
}
.qr-code{
  margin-top: 10px;
  width: 90%;
  border-radius: 15px;
  padding: 0;
}
